*node_modules*
*.ipynb_checkpoints/
*pagila/
**.DS_Store
*.DS_Store
.DS_Store
*flights.txt
*Beijing\ PM2_5\ from\ 2010\ to\ 2017.csv
**Beijing PM2_5 from 2010 to 2017.csv
Chapter 4. Deep Learning/Module 3. Making Custom Datasets/S40-data/images/
*MNIST-data*
*cifar*
*runs
*trained_models
*VOC2007
*__pycache__
*.idea/
Chapter\ 5.\ NLP/Module\ 4.\ BERT\ and\ HuggingFace/bert_for_question_answering/models/
*venv


