div {
    background-color: aquamarine;
}

.header {
    color: burlywood; 
    background-color: blue; 
    font-size: 40px; 
    text-decoration: underline;
    transition: 3s;
}

.header:hover {
    background-color: chartreuse;
    transform: rotate3d(1, 1, 1, 2000deg);
}


html {
    /* background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); */

}